@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vp-home-hero-name-background: linear-gradient(to right, #226c5c, #0f94bf);
  --vp-home-hero-name-color: transparent;

  --vp-button-brand-bg: #226c5c;
  --vp-button-brand-border: #67a194;
  --vp-button-brand-hover-bg: #1d5a4d;
  --vp-button-brand-hover-border: #1d5a4d;
  --vp-button-brand-active-border: #1d5a4d;

  --vp-c-brand: #16a34a;
  --vp-c-brand-dark: #16a34a;

  --vp-c-black-muted: #005eff;
  --vp-code-line-number-color: #000 !important;
  --vp-c-text-dark-3: #000 !important;
  --vp-c-gray-dark-5: #f4f4f5 !important;
  --tab-active-bg: #d1d5db !important;
  --tab-text-color: #6b7280 !important;
  --vp-code-block-bg: #f9fafb !important;
}


html.dark {
  --tab-active-bg: #222 !important;
  --vp-c-text-dark-3: #999 !important;
  --vp-c-gray-dark-5: #111 !important;
  --vp-code-block-bg: #222 !important;
  --tab-text-color: #666 !important;
  --vp-code-line-number-color: #999 !important;
}

.VPHome .main > * {
  margin: 0 auto;
  text-align: center;
}

.VPHome .main .actions {
  justify-content: center;
}

.VPHome .VPHomeHero {
  background: radial-gradient(
      circle at 15% 43%,
      #dbab0a,
      #16173500 150px,
      #16173500 150px
    ),
    radial-gradient(circle at 85% 70%, #0f94bf, #969bf800 150px);
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 2rem;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
